<section class="container">
  <div class="text-center mt-6">
    <h1 class="font-weight-bold text-light">Conversor de moedas</h1>
  </div>
  <div class="col-lg-8 mx-auto">
    <div class="d-flex justify-content-evenly">
      <div class="card mt-2 mx-auto bg-light shadow p-3 mb-5 bg-white rounded">
        <div class="card-body bg-light">
          <mat-form-field class="form-group">
            <div class="controls">
              <div class="form-group">
                <mat-label for="valorEntrada">Valor</mat-label>
                <div class="input-group mb-3">
                  <span class="input-group-text">$</span>
                  <input
                    id="valorEntrada"
                    type="number"
                    name="valorEntrada"
                    class="form-control"
                    placeholder="Digite o valor a ser convertido *"
                    required
                    aria-required="true"
                    pattern="^[0-9]+$"
                    #valorInput="ngModel"
                    matInput
                    [(ngModel)]="valorEntrada"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <mat-label for="moedaOriginal">Converter de</mat-label>
              <mat-select
                id="moedaOriginal"
                name="moedaOriginal"
                class="form-control"
                required
                aria-required="true"
                data-error="Selecione a moeda."
                [(value)]="moedaOriginal"
              >
                <mat-option
                  *ngFor="let moeda of moedas"
                  [value]="moeda.code"
                >
                  {{ moeda.code }} | {{ moeda.description }}
                </mat-option>
              </mat-select>
            </div>

            <div class="form-group">
              <mat-label for="moedaDestino">Para</mat-label>
              <mat-select
                id="moedaDestino"
                name="moedaDestino"
                class="form-control"
                required
                aria-required="true"
                data-error="Selecione a moeda."
                [(value)]="moedaDestino"
              >
                <mat-option
                  *ngFor="let moedas of moedas"
                  [value]="moedas.code"
                >
                  {{ moedas.code }} | {{ moedas.description }}
                </mat-option>
              </mat-select>
            </div>

            <div class="d-grid gap-2 mx-auto">
              <button
                (click)="converter()"
                type="submit"
                class="btn btn-primary btn-submit"
              >
                Converter
              </button>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="card mt-2 mb-5 mx-auto bg-light shadow p-3 bg-white rounded">
        <div class="card-body bg-light">
          <div class="container">
            <div class="form-group">
              <label for="valorSaida">Valor convertido</label>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input
                  id="valorSaida"
                  type="number"
                  name="valorSaida"
                  class="form-control"
                  readonly
                  placeholder="0,00"
                  matInput
                  [(ngModel)]="valorSaida"
                />
              </div>
              <mat-label for="taxa-cotacao">Taxa de cotação</mat-label>
              <input
                id="taxa-cotacao"
                type="text"
                name="taxa_cotacao"
                readonly
                class="form-control"
                placeholder="0,00"
                matInput
                [(ngModel)]="taxa"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
