
<main>
  <div class="container">
    <div class="text-center mt-6">
      <h1 class="font-weight-bold text-light">Conversor de moedas</h1>
    </div>

    <div class="row">
      <div class="col-lg-4 mx-auto">
        <div
          class="card mt-2 mx-auto p-4 bg-light shadow p-3 mb-5 bg-white rounded"
        >
          <div class="card-body bg-light">
            <div class="container">
              <form id="contact-form" role="form" (ngSubmit)="converter()">
                <div class="controls">
                  <div class="row">
                    <div class="form-group">
                      <label for="form-valor">Valor *</label>
                      <input
                        id="form-valor"
                        type="number"
                        name="valor"
                        class="form-control"
                        placeholder="Digite o valor a ser convertido *"
                        required="required"
                        data-error="É necessário preencher um valor."
                        [(ngModel)]="valorInicio"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label for="form-moeda">Converter de *</label>
                    <select
                      id="form_moeda"
                      name="moeda"
                      class="form-control"
                      required="required"
                      data-error="Selecione a moeda."
                      [(ngModel)]="moedaOriginal"
                    >
                      <option value="" selected disabled>
                        --Selecione a moeda--
                      </option>
                      <option>Dólar americano (USD)</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label for="form-moeda">Para*</label>
                    <select
                      id="form_moeda"
                      name="moeda"
                      class="form-control"
                      required="required"
                      data-error="Selecione a moeda."
                      [(ngModel)]="moedaDestino"
                    >
                      <option value="" selected disabled>
                        --Selecione a moeda--
                      </option>
                      <option>Real brasileiro (BRL)</option>
                    </select>
                  </div>
                  <button class="btn btn-success btn-send btn-block">Converter</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.8 -->
        </div>
          </div>

        <!-- /.row-->
      </div>
    </div>

  <div class="row">
    <div class="col-lg-3 mx-auto">
      <div
        class="card mt-2 mx-auto p-4 bg-light shadow p-3 mb-5 bg-white rounded"
      >
        <div class="card-body bg-light">
          <div class="container">
            <div class="form-group">
              <label for="valor_convertido">Valor convertido</label>
              <input
                id="valor_convertido"
                type="number"
                name="valor_convertido"
                class="form-control"
                placeholder="0,00"
                [(ngModel)]="valorSaida"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

