

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div
        class="card mt-2 mx-auto p-4 bg-light shadow p-3 mb-2 bg-white rounded"
      >
      <div class="container">
        <div class="col-lg-6 mx-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Moeda/País</span
              >
            </div>
            <input
              type="search"
              class="form-control"
              aria-label="Exemplo do tamanho do input"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>
        </div>
        <div class="col-lg-6 mx-auto">

          <table
            id="tabela-moeda"
            class="table table-striped table-bordered table-sm table-light shadow p-3 mb-3"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr >
                <th class="th-sm">Moeda</th>
                <th class="th-sm">ID</th>
                <th class="th-sm">País</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dólar</td>
                <td>USD</td>
                <td>Estados Unidos</td>
              </tr>
              <tr>
                <td>Euro</td>
                <td>EUR</td>
                <td>União Europeia</td>
              </tr>
              <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
              </tr>
              <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
              </tr>
              <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
              </tr>
              <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
              </tr>
              <tr>
                <td>Herrod Chandler</td>
                <td>Sales Assistant</td>
                <td>San Francisco</td>
              </tr>
              <tr>
                <td>Rhona Davidson</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
              </tr>
              <tr>
                <td>Colleen Hurst</td>
                <td>Javascript Developer</td>
                <td>San Francisco</td>
              </tr>
              <tr>
                <td>Sonya Frost</td>
                <td>Software Engineer</td>
                <td>Edinburgh</td>
              </tr>
              <tr>
                <td>Jena Gaines</td>
                <td>Office Manager</td>
                <td>London</td>
              </tr>
              <tr>
                <td>Quinn Flynn</td>
                <td>Support Lead</td>
                <td>Edinburgh</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Moeda</th>
                <th>ID</th>
                <th>País</th>
              </tr>
            </tfoot>
          </table>
        </div>

    </div>
  </div>
</div>
