<div class="row">
  <div class="col-lg-6 mx-auto">
    <div
      class="card mt-2 mx-auto p-4 bg-light shadow p-3 mb-2 bg-white rounded"
    >
      <div class="w-100 mx-auto">
        <table
          class="table table-striped table-bordered table-sm table-light shadow p-3 mb-3"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <th (click)="sort('entrada')" class="th-sm">
              Valor de entrada
              <span *ngIf="key == 'entrada'">{{ reverse ? "▲" : "▼" }}</span>
            </th>
            <th (click)="sort('moedaOriginal')" class="th-sm">
              Moeda original
              <span *ngIf="key == 'moedaOriginal'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th (click)="sort('moedaDestino')" class="th-sm">
              Moeda de destino
              <span *ngIf="key == 'moedaDestino'">{{
                reverse ? "▲" : "▼"
              }}</span>
            </th>
            <th (click)="sort('saida')" class="th-sm">
              Valor de saída
              <span *ngIf="key == 'saida'">{{ reverse ? "▲" : "▼" }}</span>
            </th>
            <th (click)="sort('data')" class="th-sm">
              Data e hora
              <span *ngIf="key == 'data'">{{ reverse ? "▲" : "▼" }}</span>
            </th>
            <th (click)="sort('taxa')" class="th-sm">
              Taxa de cotação
              <span *ngIf="key == 'taxa'">{{ reverse ? "▲" : "▼" }}</span>
            </th>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let conversao of conversoes | orderBy : key : reverse;
                let nome = index
              "
            >
              <td>{{ conversao.valorInicio }}</td>
              <td>{{ conversao.moedaOriginal }}</td>
              <td>{{ conversao.moedaDestino }}</td>
              <td>{{ conversao.valorSaida }}</td>
              <td>{{ conversao.data | date : "short" }}</td>
              <td>{{ conversao.taxaCotacao }}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-danger" type="button" (ngSubmit)="deletar()">
            Apagar histórico
          </button>
        </div>
      </div>

      <ng-template #historicoVazio>
        <p>Nenhuma conversão realizada.</p>
      </ng-template>
    </div>
  </div>
</div>
