/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
body{
  background-color: rgb(50, 62, 75);
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
